.clubsList {
	padding-top: 50;
}

.clubsList {
	padding-top: 50;
}

.activity-indicator-full-container {
/*	vertical-align: center;
	z-index: 99;
	background-color: white;*/
}

.activity-indicator {
	display: none;
	vertical-align: center;
}

.clubs-details-label {
	font-weight: bold;
	font-size: 20;
}

.phoneBtn {
	font-size: 30;
	border: none;
	background: #707070;
}

.club-details-image-link {
	margin: 10;
}

.link {
	text-align: center;
	font-size: 15;
	width: 250;
}

.adressValue {
	margin-top: 5;
}

.capacityLabel {
	font-size: 40;
}

.current-location-club-grid {
	border: 50;
	margin-top: 5;
}

.inner-club-details-grid {
	height: 70;
	background-color: #C0C0C0;
	margin: 5;
	text-align: center;
	vertical-align: center;
}

.club-details-image {
}

.club-details-profile-image {
	margin-left: 5;
	margin-right: 5;
}

.show {
	display: none;
}

.text-center {
	text-align: center;
}
.clubPhotosVoteLabel {
	text-align: center;
	vertical-align: center;
	font-size: 25;
	font-weight: bold;
}

.clubReviewLabel {
	font-size: 25;
}

#userOpinion {
	font-size: 35;
}

.submitReviewBtn {
	vertical-align: bottom;
}