.clubsList {
	padding-top: 50;
}

.clubImage {
	height: 170;
	width: 120;
	margin-right: 20;
}

.clubsList {
	padding-top: 50;
}

.activity-indicator-full-container {
/*	vertical-align: center;
	z-index: 99;
	background-color: white;*/
}

.activity-indicator {
	display: none;
	vertical-align: center;
}

.clubLabel {
	font-weight: bold;
	font-size: 20;
}

.phoneBtn {
	height: 50;
	border: none;
	background: #707070;
}

.facebookBtn {
	background-color: #0154A0;
}

.twitterBtn {
	background-color: #36D8FF;
}

.siteBtn {

}

.clubDetails {
	margin: 15;
}

.link {
	text-align: center;
	font-size: 15;
	width: 250;
}

.adressValue {
	margin-top: 5;
}

.capacityLabel {
	margin-top: 5;
}

.innerClubGrid {
	background-color: #C0C0C0;
	margin: 5;
	text-align: center;
	vertical-align: center;
}