.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.clubsList {
	padding-top: 50;
}

.activity-indicator-full-container {
/*	vertical-align: center;
	z-index: 99;
	background-color: white;*/
}

.activity-indicator {
	display: none;
	vertical-align: center;
}